
/* About page */
#tech-stack-container{
    margin: 1.5rem 0;
    background-color: #EEEEEE20;
    padding: .5rem 1.5rem;
    border-radius: 1rem;

}

#tech-stack-container h3{
    font-size: 1.5rem;
    margin-top: 2rem;
}

hr{
    margin: 2rem 0;
}

p{
    font-size: 1.2rem;
}

#about-title{
    font-size: 4rem;
    font-weight: 500;
}

.about-subtitle{
    font-size: 2rem;
    margin-top: 1rem;
}

