
/* Index */
.polygon-a{
    position: absolute;
    top: 20%;
    left: 25%;
    z-index: 0;
    margin: 2rem;
    padding: 4rem;
    border: 1px solid #222;
    border-radius: 6rem;
}
.polygon-b{
    position: absolute;
    top: 20%;
    left: 25%;
    z-index: 0;
    margin: 2rem;
    padding: 2rem;
    border: 1px solid #222;
    border-radius: 4rem;
}
.polygon-c{
    position: absolute;
    top: 20%;
    left: 25%;
    z-index: 0;
    margin: 2rem;
    padding: 6rem;
    border: 1px solid #222;
    border-radius: 8rem;
}

/* #start-navigation:hover{
    background-color: crimson;
    color: #222;
    transition: all .5s;
} */