#contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#inputs{ 
    /* Wrap this element with media queries */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
}

.input-field label, .input-field input{
    padding: 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.input-field input{
    border: 1px solid #222;
}

.input-field textarea{
    resize: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}

#send-button{
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: .5rem;
    border: 1px solid #222;
    background-color: #555;
    color: #f5f5f5;
    transition: .5s;
}

#send-button:hover{
    background-color: #4be0e0;
    color: #222222;
}

.input-field .darkMode{
    color: #f5f5f5;
}

@media screen and (max-width: 576px) {
    #inputs{
        flex-wrap: wrap;
    }
}