/* Footer */
#footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    border-top: 1px solid #77777777;
}

#footer-items, #footer-data{
    margin: 1rem 0;
    padding: 0 1rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}

.footer-item{
    margin: 1rem;
    padding: 1rem;
    color: #222222;
}

.footer-item-paragraph{
    font-size: 1rem;
    margin: 1rem 0;
    color: #222222;
}

.footer-item a {
    color: #222222;
    padding: .5rem 1rem;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom .5s;
}

.footer-item-paragraph.darkMode, .footer-item.darkMode a{
    color: #F5F5F5;
}

.footer-item a:hover{
    border-bottom: 1px solid #222222;
}
.footer-item.darkMode a:hover{
    border-bottom: 1px solid #F5F5F5;
}

