/* Home page */
#home-section div{
    padding: 0 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#home-section h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

#home-section-container{
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.home-item{
    margin: 1rem;
    padding: 6rem;
    border: 1px solid transparent;
    color: #222;
    border-radius: .5rem;
    font-size: 1.5rem;
    text-decoration: none;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow .5s;
}

.home-item:hover{
    box-shadow: 0 0 .5rem #00ffff;
}
