/* Index */
#index-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    max-height: 50vh;
    padding: 1rem 0;
}


#start-navigation{
    font-size: 1.5rem;
    margin: 2rem;
    padding: 4rem;
    border: 1px solid #222;
    border-radius: 6rem;
    color: #222;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 0 0 #222;
    transition: box-shadow .5s;
}

#start-navigation:hover{
    box-shadow: 0 0 .5rem #222;
}