/* Index */
.polygon-a{
    border: 1px solid red;
}

.polygon-b{
    border: 1px solid cyan;
}


.polygon-a{
    position: absolute;
    top: 20%;
    left: 25%;
    z-index: -10;
    margin: 2rem;
    padding: 4rem;
    border: 1px solid red;
    border-radius: 6rem;
}
.polygon-b{
    position: absolute;
    top: 20%;
    left: 25%;
    z-index: -20;
    margin: 2rem;
    padding: 2rem;
    border: 1px solid cyan;
    border-radius: 4rem;
}
.polygon-c{
    position: absolute;
    top: 20%;
    left: 25%;
    z-index: -30;
    margin: 2rem;
    padding: 6rem;
    border: 1px solid #222;
    border-radius: 8rem;
}